body{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
    margin-right: 0px;

	background-color: white;
	<!--font-family: Georgia, Droid Sans;-->
}

h1{
    padding-top:20px;
	padding-bottom: 10px;
	font-size: 20px;
}

h2{
	font-size: 18px;
}

h3{
	font-size: 16px;
}

h1,h2,h3 {
	margin-top: 30px;
	margin-bottom: 20px;
	font-weight: 700px;
}

h4,h5,h6 {
	margin-top: 25px;
	margin-bottom: 20px;
	font-weight: 600px;
}

p{
    font-size: 15px;
	line-height: 1.4;
	font-weight: 400;
}
img{ 
	max-width:100%;
	width:auto;
	height:auto;
}

iframe, video{
    max-width: 100%;
}